# This file is intended for setting up an IDE environment (like PyCharm or VSCode).
# Briefcase manages its own dependencies for building the app, but IDEs need 
# dependencies installed in the local virtual environment to provide autocomplete and avoid "missing module" errors.

#
briefcase==0.4.2
# Base GUI framework (this will automatically install toga-cocoa on Mac, toga-gtk on Linux, etc.)
toga~=0.5.0

# Project specific dependencies
codeallybasic>=1.40.0
Pypubsub>=4.0.7
httpx>=0.28.1
todoist_api_python>=4.0.0
requests>=2.34.2
keyring>=24.0.0

# Testing
html-testRunner==1.2.1
mypy==2.1.0
click==8.4.2
